<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Корзина</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}" />

    <h1>Корзина</h1>

    <span th:if="${cartProductHashMap.size() == 0}">Ваша корзина пуста</span>
    <table th:if="${cartProductHashMap.size() > 0}" class="table table-hover" >
        <thead class="thead-dark">
        <tr>
            <!--<th>ID</th>-->
            <th>Название товара</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <!--<tbody>-->
        <!--<tr th:each="product : ${products}">-->
            <!--&lt;!&ndash;<td th:text="${product.id}"/>&ndash;&gt;-->
            <!--<td th:text="${product.title}"/>-->
            <!--<td th:text="${product.price}"/>-->
            <!--<input th:value="${total}" th:name="total" type="number">-->
            <!--<td th:text="${product.price}"/>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Итого: </th>-->
            <!--<td  th:value="${total}" th:name="total" type="number">-->
        <!--</tr>-->
        <!--&lt;!&ndash;<tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<a th:href="@{'/cart/delete/' + ${product.title}}">Удалить</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--<br>-->
        <!--<p>-->
            <!--<a class="btn btn-primary" th:href="@{'/cart/buy/'}">Оформить заказ</a>-->
        <!--</p>-->
        <!--</tbody>-->



            <thead class="thead-dark">
            <tbody>
            <tr th:each="cartProductHashMap : ${cartProductHashMap}">
                <td th:text="${cartProductHashMap.title}"/>
                <td th:text="${cartProductHashMap.count}"/>
                <td th:text="${cartProductHashMap.price}"/>
                <td th:text="${cartProductHashMap.price*cartProductHashMap.count}"/>
                <td>
                    <a class="btn btn-secondary" type="button"  th:href="@{'/cart/delete'(id=${cartProductHashMap.id})}">Удалить</a>
                </td>
            </tr>
            </tbody>
         </table>
        <!--<tr>-->
           <!--<span>Итого:</span>-->
        <!--</tr>-->
        <tr>
          <td>
            <span>Итого:</span>
          </td>
          <td>
            <span th:text="${sum}"></span>
          </td>
        </tr>
         <br>
        <a th:if="${cartProductHashMap.size() > 0}" sec:authorize="isAuthenticated()" th:href="@{/cart/buy/}" class="btn btn-warning">Оформить заказ</a>
        <span th:if="${cartProductHashMap.size() > 0}" sec:authorize="isAnonymous()">Для оформления заказа необходимо зайти в учетную запись</span>
         </br>
</div>

</body>
</html>